/* css untuk kelas header */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}
a {
    text-decoration: none;
  }

header{
    height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}
.header-right{
    float: right;

}
.header-right a{
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
}
.header-left{
    float: left;
    line-height: 65px;
  padding: 0 25px;
 
  display: block;
}
.header-left a{
    color: white;
}

.logo{
    width:124px;
    margin-top:20px;
    font-size: large;
    
}
.container1 {
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
.top-main{
    padding: 75px 0 100px 0;
}




/* css untuk kelas main */



/* css untuk kelas main tambahan */
.container {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: ;
    text-align: center;
}

.heading h2{
    Font-size: 80px;
    text-align: center;    
    padding-top: 40px;
    padding-bottom: 20px;
    color: #81ecec;
}

.text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 15px;
    color:;
}



/* css untuk kelas footer */
.footer {
  background-color:rgba(34, 49, 52, 0.9);
  height: 300px;
}

.footer-logo {
  color: #fff;
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.footer-list {
  float: right;
}

.footer-list li {
  color: Right;
  font-size: 20px;
  padding: 10px 20px;
}


